*.bak
/components/CmdLine/lib/
/components/KASToolBar/lib/
/components/chsdet/lib/
/components/dcpcrypt/lib/
/components/doublecmd/lib/
/components/gifanim/lib/
/components/multithreadprocs/lib/
/components/viewer/lib/
/units/i386-win32-win32
/units/x86_64-win64-win32
/plugins/wcx/sevenzip/lib/
/plugins/wcx/unrar/lib/
/plugins/wcx/zip/lib/
/plugins/wcx/zip/lib/
/plugins/wdx/deb_wdx/lib/
/plugins/wdx/rpm_wdx/lib/
/plugins/wdx/svn_wdx/lib/
/plugins/wfx/ftp/lib/
/plugins/wcx/deb/lib/
/plugins/wcx/rpm/lib/
/plugins/wdx/xpi_wdx/lib
/tools/lib/
